@page "/User/UploadVideo"
@using BlazorApp.Shared;
@attribute [Authorize(Roles = BlazorApp.Shared.Constants.Roles.creator)]

<h3>UploadVideo</h3>

<LoadingIndicator IsLoading="this.IsBusy"></LoadingIndicator>

<EditForm Model="this.indexVideoModel" OnValidSubmit="OnValidSubmitAsync">
    <div class="mb-3">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(IndexVideoModel.VideoFileName)</label>
        <InputText class="form-control" @bind-Value="@this.indexVideoModel.VideoFileName"></InputText>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

<InputFile class="form-control" OnChange="OnFileSelectedAsync"></InputFile>

@if (this.indexVideoResponseModel != null)
{
    <div class="mb-3">
        <label class="form-label">@nameof(IndexVideoResponseModel.accountId)</label>
        <label class="form-label">@this.indexVideoResponseModel.accountId</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(IndexVideoResponseModel.description)</label>
        <label class="form-label">@this.indexVideoResponseModel.description</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(IndexVideoResponseModel.moderationState)</label>
        <label class="form-label">@this.indexVideoResponseModel.moderationState</label>
    </div>
}